interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ask.com/web?o=0&l=dir&qo=pagination&q=Fake+cache+bypass&qsrc=998&page=1
  response:
    body:
      string: "\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <script src=\"\
        /s/0-4-97/usp-api.min.js\"></script>\n    <meta charset=\"UTF-8\"/>\n    <meta\
        \ name=\"referrer\" content=\"no-referrer-when-downgrade\" />\n    <meta name=\"\
        viewport\" content=\"width=device-width,initial-scale=1\"/>\n    \n\n    \n\
        \n<title>Fake cache bypass, Ask.com - What's Your Question?</title>\n\n\n\n\
        \n<meta property=\"og:title\" content=\"Fake cache bypass, Ask.com - What&#39;s\
        \ Your Question?\"/>\n\n\n<meta property=\"og:url\" content=\"https://www.ask.com/web\"\
        \ />\n\n\n<meta property=\"og:site_name\" content=\"Ask.com\"/>\n\n\n\n<meta\
        \ property=\"fb:pages\" content=\"123118179545\"/>\n\n\n\n<meta name=\"twitter:card\"\
        \ content=\"summary\" />\n    <meta name=\"twitter:site\" content=\"@AskDotCom\"\
        \ />\n\n\n<meta name=\"robots\" content=\"noindex\" />\n\n\n\n\n\n\n\n   \
        \ \n\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/s/0-4-97/site-ask-sites-askus-web-page.css\"\
        />\n    \n    <script>\n        var App = {};\n        App.events = [];\n\
        \        \n        function loadEvent(fn,partial) {\n            App.events.push({\n\
        \                partial:partial || \"\",\n                contextSelector:\
        \ document,\n                elementSelector: null,\n                type:\
        \ \"ready\",\n                handler:fn\n            }[...]
