interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ask.com/web?o=0&l=dir&qo=pagination&q=Hello&qsrc=998&page=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <script src=\"/s/0-5-75/usp-api.min.js\"\
        ></script>\n    <meta charset=\"UTF-8\"/>\n    <meta name=\"referrer\" content=\"\
        no-referrer-when-downgrade\" />\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"\
        />\n\n    \n\n<title>Hello, Ask.com</title>\n\n\n\n\n<meta property=\"og:title\"\
        \ content=\"Hello, Ask.com\"/>\n\n\n<meta property=\"og:url\" content=\"https://www.ask.com/web\"\
        \ />\n\n\n<meta property=\"og:site_name\" content=\"Ask.com\"/>\n\n\n\n<meta\
        \ property=\"fb:pages\" content=\"123118179545\"/>\n\n\n\n<meta name=\"twitter:card\"\
        \ content=\"summary\" />\n    <meta name=\"twitter:site\" content=\"@AskDotCom\"\
        \ />\n\n\n<meta name=\"robots\" content=\"noindex\" />\n\n\n\n\n\n<link href=\"\
        https://fonts.googleapis.com/css?family=Roboto:100,400,500,700\" rel=\"stylesheet\"\
        >\n\n    <link rel=\"stylesheet\" type=\"text/css\"\n          href=\"/s/0-5-75/site-ask-sites-askus-web-page-bing-adsense-desktop.css\"\
        />\n    <script>\n        var App = {};\n    </script>\n    \n\n\n<style>\n\
        \        .content-visible {\n            visibility: hidden;\n        }\n\
        \        #rs-block-0, #rs-block-1 {\n            display: none;\n        }\n\
        \    </style>\n\n    <noscript>\n        <style type=\"text/css\">\n     \
        \       .content-visible {\n                visibility: visible !important;\n\
        \            }\n            #rs-block-0, #rs-block-1 {\n                display:\
        \ block !important;\n            }\n        </style>\n    </noscript>\n\n\
        <script>\n    (function (G, o, O, g, L, e) {\n        G[g] = G[g] || function\
        \ () {\n                    (G[g]['q'] = G[g]['q'] || []).push(arguments)\n\
        \               [...]
