interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.coursera.org/search?query=Fake+cache+bypass&page=1
  response:
    body:
      string: "<!DOCTYPE html><html xmlns:fb=\"http://ogp.me/ns/fb#\" itemtype=\"\
        http://schema.org\" lang=\"en\" dir=\"ltr\"><head><meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=Edge,chrome=IE7\"><meta charset=\"utf-8\"><meta property=\"\
        og:site_name\" content=\"Coursera\"><meta property=\"fb:admins\" content=\"\
        727836538,4807654\"><meta property=\"fb:app_id\" content=\"823425307723964\"\
        ><meta name=\"twitter:site\" content=\"Coursera\"><meta name=\"twitter:app:name:iphone\"\
        \ content=\"Coursera\"><meta name=\"twitter:app:name:ipad\" content=\"Coursera\"\
        ><meta name=\"twitter:app:name:googleplay\" content=\"Coursera\"><meta name=\"\
        twitter:app:id:iphone\" content=\"id736535961\"><meta name=\"twitter:app:id:ipad\"\
        \ content=\"id736535961\"><meta name=\"twitter:app:id:googleplay\" content=\"\
        org.coursera.android\"><meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1\"><link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"\
        https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/apple-touch-icon-57x57.png\"\
        ><link rel=\"apple-touch-icon\" sizes=\"60x60\" href=\"https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/apple-touch-icon-60x60.png\"\
        ><link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/apple-touch-icon-72x72.png\"\
        ><link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://d3njjcbhbojbot.cloudfront.net/web/images/favi[...]
