interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.coursera.org/search?query=Hello&page=1
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\"><head><link rel=\"preconnect\"\
        \ href=\"https://d3njjcbhbojbot.cloudfront.net\" crossorigin=\"true\"/><link\
        \ rel=\"prerender\"/><style>@font-face {  font-family: 'coursera-iconfont';\
        \  src: url('https://d3njjcbhbojbot.cloudfront.net/web/bundles/styleguide/icons/fonts/coursera.v26.eot');\
        \  src: url('https://d3njjcbhbojbot.cloudfront.net/web/bundles/styleguide/icons/fonts/coursera.v26.eot')\
        \ format('embedded-opentype'),url('https://d3njjcbhbojbot.cloudfront.net/web/bundles/styleguide/icons/fonts/coursera.v26.woff')\
        \ format('woff'),url('https://d3njjcbhbojbot.cloudfront.net/web/bundles/style[...]
