interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.google.com/search?num=10&start=1&q=Preaching+the+choir&client=ubuntu&tbm=nws
  response:
    body:
      string: "<!doctype html><html itemscope=\"\" itemtype=\"http://schema.org/SearchResultsPage\"\
        \ lang=\"en-NG\"><head><meta content=\"/images/branding/googleg/1x/googleg_standard_color_128dp.png\"\
        \ itemprop=\"image\"><title>Preaching the choir - Google Search</title><script\
        \ nonce=\"wMcFPGMNlUzZhLnEVvunBA==\">(function(){window.google={kEI:'V40PX-LWJd2_3LUPwsGegAM',kEXPI:'0,202123,3,4,32,1151584,5663,730,224,3656,1449,206,2415,789,10,1226,364,1499,157,546,114,383,246,5,1354,406,242,196,484,5,361,2184,233,186,97,20,3,580,471,21,19,50,192,252,23,49,51,52,327,1121262,1197765,308,329194,1294,7105,180,3382,1716,1604,2044,314,893,633,1770,1137,4795,5298,2488,328,5033,10931,279,1191,14056,867,7049,2445,2646,793,[...]
