interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.google.com/search?num=10&start=1&q=Preaching+the+choir&client=ubuntu
  response:
    body:
      string: "<!doctype html><html itemscope=\"\" itemtype=\"http://schema.org/SearchResultsPage\"\
        \ lang=\"en-NG\"><head><meta content=\"/images/branding/googleg/1x/googleg_standard_color_128dp.png\"\
        \ itemprop=\"image\"><meta content=\"origin\" name=\"referrer\"><title>Preaching\
        \ the choir - Google Search</title><script nonce=\"yKE+dDaLkgu8nkDAlTCYmg==\"\
        >(function(){window.google={kEI:'bI0PX-ydCu3Uz7sP5dSf2AI',kEXPI:'31',kBL:'Lzd_'};google.sn='web';google.kHL='en-NG';})();(function(){google.lc=[];google.li=0;google.getEI=function(a){for(var\
        \ c;a&&(!a.getAttribute||!(c=a.getAttribute(\"eid\")));)a=a.parentNode;return\
        \ c||google.kEI};google.getLEI=function(a){for(var c=null;a&&(!a.getAttribute||!(c=a.getAttribute(\"\
        leid\")));)a=a.parentNode;return c};google.ml=function(){return null};google.time=function(){return\
        \ Date.now()};google.log=function(a,c,b,d,g){if(b=google.logUrl(a,c,b,d,g)){a=new\
        \ Image;var e=google.lc,f=google.li;e[f]=a;a.onerror=a.onload=a.onabort=function(){delete\
        \ e[f]};google.vel&&google.vel.lu&&google.vel.lu(b);a.src=b;google.li=f+1}};google.logUrl=function(a,c,b,d,g){var\
        \ e=\"\",f=google.ls||\"\";b||-1!=c.search(\"&ei=\")||(e=\"&ei=\"+google.getEI(d),-1==c.search(\"\
        &lei=\")&&(d=google.getLEI(d))&&(e+=\"&lei=\"+d));d=\"\";!b&&google.cshid&&-1==c.search(\"\
        &cshid=\")&&\"slh\"!=a&&(d=\"&cshid=\"+google.cshid);b=b||\"/\"+(g||\"gen_204\"\
        )+\"?atyp=i&ct=\"+a+\"&cad=\"+c+e+f+\"&zx=\"+google.time()+d;/^http:/i.test(b)&&\"\
        https:\"==window.location.protocol&&(google.ml(Error(\"a\"),!1,{src:b,glmm:1}),b=\"\
        \");return b};}).call(this);(function(){google.y={};google.x=function(a,b){if(a)var\
        \ c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};}).call(this);google.f={};(function(){\n\
       [...]
