interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.google.com/search?start=0&q=What's+up+from+this+side&gbv=1
  response:
    body:
      string: "<!doctype html><html lang=\"en-NG\"><head><meta charset=\"UTF-8\"><meta\
        \ content=\"origin\" name=\"referrer\"><meta content=\"/images/branding/googleg/1x/googleg_standard_color_128dp.png\"\
        \ itemprop=\"image\"><title>What's up from this side - Google Search</title><script\
        \ nonce=\"yVQsj1FCvTj//V0jSNFz6w==\">(function(){\ndocument.documentElement.addEventListener(\"\
        submit\",function(b){var a;if(a=b.target){var c=a.getAttribute(\"data-submitfalse\"\
        );a=\"1\"==c||\"q\"==c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener(\"\
        click\",function(b){var a;a:{for(a=b.target;a&&a!=document.documentElement[...]
