interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://myanimelist.net/anime.php?show=0&q=Fake+cache+bypass
  response:
    body:
      string: "\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\n\
        \    \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n\n<html>\n\
        <head>\n    \n<link rel=\"preconnect\" href=\"//fonts.gstatic.com/\" crossorigin=\"\
        anonymous\" />\n<link rel=\"preconnect\" href=\"//fonts.googleapis.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//tags-cdn.deployads.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//www.googletagservices.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//www.googletagmanager.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//apis.google.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//pixel-sync.sitescout.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//pixel.tapad.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//c.deployads.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//tpc.googlesyndication.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//googleads.g.doubleclick.net/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//securepubads.g.doubleclick.net/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"https://cdn.myanimelist.net\"\
        \ crossorigin=\"anonymous\" />\n\n\n<title>Search Anime - MyAnimeList.net\n\
        </title>\n<meta name=\"description\" content=\"Trying to find that anime?\
        \ Search from tens of thousands of titles on MyAnimeList, the largest online\
        \ anime and manga database in the world! Join the online community, create\
        \ your anime and manga list, read reviews, explore the forums, follow news,\
        \ and so much more! Search query: Fake cache bypass\" />\n\n  \n<meta name=\"\
        keywords\" content=\"anime, myanimelist, anime news, manga\" />\n<link rel=\"\
        cano[...]
