interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://myanimelist.net/anime.php?show=0&q=Hello
  response:
    body:
      string: "\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\n\
        \    \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n\n<html\
        \ lang=\"en\">\n<head>\n    \n<link rel=\"preconnect\" href=\"//fonts.gstatic.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//fonts.googleapis.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//tags-cdn.deployads.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//www.googletagservices.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//www.googletagmanager.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//apis.google.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//pixel-sync.sitescout.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//pixel.tapad.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//c.deployads.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//tpc.googlesyndication.com/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//googleads.g.doubleclick.net/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"//securepubads.g.doubleclick.net/\"\
        \ crossorigin=\"anonymous\" />\n<link rel=\"preconnect\" href=\"https://cdn.myanimelist.net\"\
        \ crossorigin=\"anonymous\" />\n\n\n<title>Search Anime - MyAnimeList.net\n\
        </title>\n<meta name=\"description\" content=\"Trying to find that anime?\
        \ Search from tens of thousands of titles on MyAnimeList, the largest online\
        \ anime and manga database in the world! Join the online community, create\
        \ your anime and manga list, read reviews, explore the forums, follow news,\
        \ and so much more! Search query: Hello\" />\n\n  \n<meta name=\"keywords\"\
        \ content=\"anime, myanimelist, anime news, manga\" />\n<link rel=\"canonical\"\
        \ href=\"https://myanimelist.net/anime.php?q=Hello\" />  \n<meta property=\"\
        og:locale\" content=\"en_US\"><meta property=\"fb:app_id\" content=\"360769957454434\"\
        ><meta property=\"og:site_name\" content=\"MyAnimeList.net\"><meta name=\"\
        twitter:card\" content=\"summary\"><meta name=\"twitter:site\" content=\"\
        @myanimelist\"><meta property=\"og:title\" content=\"Search Anime - MyAnimeList.net\
        \ \"><meta property=\"og:image\" content=\"https://cdn.myanimelist.net/img/sp/icon/apple-touch-icon-256.png\"\
        ><meta name=\"twitter:image:src\" content=\"https://cdn.myanimelist.net/img/sp/icon/apple-touch-icon-256.png\"\
        ><meta property=\"og:url\" content=\"https://myanimelist.net/anime.php?q=Hello\"\
        ><meta property=\"og:description\" content=\"Trying to find that anime? Search\
        \ from tens of thousands of titles on MyAnimeList, the largest online anime\
        \ and manga database in the world! Join the online community, create your\
        \ anime and manga list, read reviews, explore the forums, follow news, and\
        \ so much more! Search query: Hello\">\n\n<meta name=\"referrer\" content=\"\
        default\"><link rel=\"manifest\" href=\"/manifest.json\">\n\n<meta name='csrf_token'\
        \ content='ba91309522da6072048096a5c45d192ca372ad86'>\n<meta name=\"fo-verify\"\
        \ content=\"1e927243-8e02-48e3-b098-a7b78c5b4e36\"><meta name=\"viewport\"\
        \ content=\"initial-scale=1\" /><link rel=\"preload\" as=\"style\" href=\"\
        https://cdn.myanimelist.net/static/assets/css/pc/style-54a672ab93.css\" />\n\
        <link rel=\"preload\" as=\"script\" href=\"https://cdn.myanimelist.net/static/assets/js/pc/header-7c28ab49a6.js\"\
        \ />\n<link rel=\"preload\" as=\"script\" href=\"https://cdn.myanimelist.net/static/assets/js/pc/all-0c3a045f52.js\"\
        \ />\n\n<link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.myanimelist.net/static/assets/css/pc/style-54a672ab93.css\"\
        \ />\n\n<script type=\"text/javascript\" src=\"https://cdn.myanimelist.net/static/assets/js/pc/header-7c28ab49a6.js\"\
        ></script>\n<script type=\"text/javascript\" src=\"https://cdn.myanimelist.net/static/assets/js/pc/all-0c3a045f52.js\"\
        \ id=\"alljs\" data-params='{&quot;origin_url&quot;:&quot;https:\\/\\/myanimelist.net&quot;}'\
        \ async=\"async\"></script>\n\n\n\n<link rel=\"search\" type=\"application/opensearchdescription+xml\"\
        \ href=\"https://myanimelist.net/plugins/myani[...]
