interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stackoverflow.com/search?page=1&q=Fake+cache+bypass&pagesize=15
  response:
    body:
      string: "<!DOCTYPE html>\r\n\r\n\r\n    <html class=\"html__responsive\">\r\n\
        \r\n    <head>\r\n\r\n        <title>Posts containing &#39;fake cache bypass&#39;\
        \ - Stack Overflow</title>\r\n        <link rel=\"shortcut icon\" href=\"\
        https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196\"\
        >\r\n        <link rel=\"apple-touch-icon\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a\"\
        >\r\n        <link rel=\"image_src\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a\"\
        > \r\n        <link rel=\"search\" type=\"application/opensearchdescription+xml\"\
        \ title=\"Stack Overflow\" href=\"/opensearch.xml\">\r\n        <meta name=\"\
        viewport\" content=\"width=device-width, height=device-height, initial-scale=1.0,\
        \ minimum-scale=1.0\">\r\n        <meta property=\"og:type\" content= \"website\"\
        \ />\r\n        <meta property=\"og:url\" content=\"https://stackoverflow.com/search?page=1&amp;q=Fake&#x2B;cache&#x2B;bypass&amp;pagesize=15\"\
        />\r\n        <meta property=\"og:site_name\" content=\"Stack Overflow\" />\r\
        \n        <meta property=\"og:image\" itemprop=\"image primaryImageOfPage\"\
        \ content=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded\"\
        \ />\r\n        <meta name=\"twitter:card\" content=\"summary\"/>\r\n    \
        \    <meta name=\"twitter:domain\" content=\"stackoverflow.com\"/>\r\n   \
        \     <meta name=\"twitter:title\" property=\"og:title\" itemprop=\"name\"\
        \ content=\"Posts containing &#x27;fake cache bypass&#x27;\" />\r\n      \
        \  <meta name=\"twitter:description\" property=\"og:description\" itemprop=\"\
        description\" content=\"Stack Overflow | The World&#x2019;s Largest Online\
        \ Community for Developers\" />\r\n\r\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"\
        ></script>\r\n        <script src=\"https://cdn.sstatic.net/Js/stub.en.js?v=0a3591ccd5d1\"\
        ></script>\r\n    \r\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"\
        https://cdn.sstatic.net/Shared/stacks.css?v=0ee8a05683e7\" >\r\n        <link\
        \ rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=c5fdf309f06b\"\
        \ >\r\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=0ad93e7d5552\"\
        \ >\r\n\r\n    \r\n    <link rel=\"alternate\" type=\"application/atom+xml\"\
        \ title=\"Feed of recent questions\" href=\"/feeds\">\r\n    <style>\r\n \
        \       mark {\r\n            background-color: transparent;\r\n         \
        \   color: inherit;\r\n        }\r\n    </style>\r\n    <script>\r\n     \
        \   $(function () {\r\n            $(\".js-advanced-tips-toggle\").on(\"click\"\
        , function(e) {\r\n                $(\".js-advanced-tips\").toggleClass(\"\
        d-none\");\r\n                e.preventDefault();\r\n                return\
        \ false;\r\n            });\r\n        });\r\n    </script>\r\n\r\n      \
        \  \r\n        \r\n        \r\n        \r\n        \r\n        \r\n      \
        \  \r\n\r\n\r\n    <script>\r\n        StackExchange.init({\"locale\":\"en\"\
        ,\"serverTime\":1594896699,\"routeName\":\"Search/Search\",\"stackAuthUrl\"\
        :\"https://stackauth.com\",\"networkMetaHostname\":\"meta.stackexchange.com\"\
        ,\"site\":{\"name\":\"Stack Overflow\",\"description\":\"Q&A for professional\
        \ and enthusiast programmers\",\"isNoticesTabEnabled\":true,\"enableNewTagCreationWarning\"\
        :true,\"insertSpaceAfterNameTabCompletion\":false,\"id\":1,\"childUrl\":\"\
        https://meta.stackoverflow.com\",\"negativeVoteScoreFloor\":null,\"enableSocialMediaInSharePopup\"\
        :true,\"protocol\":\"https\"},\"user\":{\"fkey\":\"0da7ad4a38043ac5331e1009c5cd903112716bb33743740856bc9f0c9d3fc7de\"\
        ,\"tid\":\"c32f1ff1-59f1-54dc-5c94-7c3f2c960ee7\",\"rep\":0,\"isAnonymous\"\
        :true,\"isAnonymousNetworkWide\":true,\"ab\":{\"tutorial_tooltips\":{\"v\"\
        :\"thanks_reaction_icon\",\"g\":1}}},\"events\":{\"postType\":{\"question\"\
        :1},\"postEditionSection\":{\"title\":1,\"body\":2,\"tags\":3}},\"story\"\
        :{\"minCompleteBodyLength\":75,\"likedTagsMaxLength\":300,\"dislikedTagsMaxLength\"\
        :300},\"jobPreferences\":{\"maxNumDeveloperRoles\":2,\"maxNumIndustries\"\
        :4},\"svgIconPath\":\"https://cdn.sstatic.net/Img/svg-icons\",\"svgIconHash\"\
        :\"2816dfc51c0f\"}, {\"userProfile\":{\"openGraphAPIKey\":\"4a307e43-b625-49bb-af15-ffadf2bda017\"\
        },\"userMessaging\":{\"showNewFeatureNotice\":true},\"tags\":{},\"subscriptions\"\
        :{\"defaultMaxTrueUpSeats\":1000},\"snippets\":{\"renderDomain\":\"stacksnippets.net\"\
        ,\"snippetsEnabled\":true},\"slack\":{\"sidebarAdDismissCookie\":\"slack-sidebar-ad\"\
        ,\"sidebarAdDismissCookieExpirationDays\":60.0},\"site\":{\"allowImageUploads\"\
        :true,\"enableImgurHttps\":true,\"enableUserHovercards\":true,\"forceHttpsImages\"\
        :true,\"styleCode\":true},\"paths\":{},\"monitoring\":{\"clientTimingsAbsoluteTimeout\"\
        :30000,\"clientTimingsDebounceTimeout\":1000},\"mentions\":{\"maxNumUsersInDropdown\"\
        :50},\"markdown\":{\"asteriskIntraWordEmphasis\":true,\"enableCommonmark\"\
        :true},\"flags\":{\"allowRetractingCommentFlags\":true,\"allowRetractingFlags\"\
        :true},\"comments\":{},\"accounts\":{\"currentPasswordRequiredForChangingStackIdPassword\"\
        :true}});\r\n        StackExchange.using.setCacheBreakers({\"js/adops.en.js\"\
        :\"22a9bd59b1e9\",\"js/ask.en.js\":\"8cd33efca2ea\",\"js/begin-edit-event.en.js\"\
        :\"cb9965ad8784\",\"js/events.en.js\":\"8c2d19adf113\",\"js/explore-qlist.en.js\"\
        :\"8498d0bb288b\",\"js/full-anon.en.js\":\"a4ddfd857174\",\"js/full.en.js\"\
        :\"4f738f4b3275\",\"js/help.en.js\":\"45dd3cca2f14\",\"js/inline-tag-editing.en.js[...]
