interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stackoverflow.com/nocaptcha?s=2ec00a50-d613-4b7c-a628-599d2bbe758b
  response:
    body:
      string: "<!DOCTYPE html>\r\n\r\n\r\n    <html class=\"html__responsive  html__fixed-top-bar\"\
        >\r\n\r\n    <head>\r\n\r\n        <title>Human verification - Stack Overflow</title>\r\
        \n        <link rel=\"shortcut icon\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196\"\
        >\r\n        <link rel=\"apple-touch-icon\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a\"\
        >\r\n        <link rel=\"image_src\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a\"\
        > \r\n        <link rel=\"search\" type=\"application/opensearchdescription+xml\"\
        \ title=\"Stack Overflow\" href=\"/opensearch.xml\">\r\n        <meta name=\"\
        viewport\" content=\"width=device-width, height=device-height, initial-scale=1.0,\
        \ minimum-scale=1.0\">\r\n        <meta property=\"og:type\" content= \"website\"\
        \ />\r\n        <meta property=\"og:url\" content=\"https://stackoverflow.com/nocaptcha?s=2ec00a50-d613-4b7c-a628-599d2bbe758b\"\
        />\r\n        <meta property=\"og:site_name\" content=\"Stack Overflow\" />\r\
        \n        <meta property=\"og:image\" itemprop=\"image primaryImageOfPage\"\
        \ content=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded\"\
        \ />\r\n        <meta name=\"twitter:card\" content=\"summary\"/>\r\n    \
        \    <meta name=\"twitter:domain\" content=\"stackoverflow.com\"/>\r\n   \
        \     <meta name=\"twitter:title\" property=\"og:title\" itemprop=\"name\"\
        \ content=\"Human verification\" />\r\n        <meta name=\"twitter:description\"\
        \ property=\"og:description\" itemprop=\"description\" content=\"Stack Overflow\
        \ | The World&#x2019;s Largest Online Community for Developers\" />\r\n\r\n\
        \        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"\
        ></script>\r\n        <script src=\"https://cdn.sstatic.net/Js/stub.en.js?v=a7033288dbed\"\
        ></script>\r\n    \r\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"\
        https://cdn.sstatic.net/Shared/stacks.css?v=7099ce185e68\">\r\n        <link\
        \ rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=d81f84368fef\"\
        >\r\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=517135d20231\"\
        >\r\n\r\n    \r\n        \r\n        \r\n        \r\n        <link rel=\"\
        stylesheet\" type=\"text/css\" href=\"https://cdn.sstatic.net/Shared/Channels/channels.css?v=3586f8d1f1e0\"\
        >\r\n        \r\n        \r\n        \r\n\r\n\r\n    <script>\r\n        StackExchange.init({\"\
        locale\":\"en\",\"serverTime\":1620686515,\"routeName\":\"Captcha/NoCaptcha\"\
        ,\"stackAuthUrl\":\"https://stackauth.com\",\"networkMetaHostname\":\"meta.stackexchange.com\"\
        ,\"site\":{\"name\":\"Stack Overflow\",\"description\":\"Q&A for professional\
        \ and enthusiast programmers\",\"isNoticesTabEnabled\":true,\"enableNewTagCreationWarning\"\
        :true,\"insertSpaceAfterNameTabCompletion\":false,\"id\":1,\"cookieDomain\"\
        :\".stackoverflow.com\",\"childUrl\":\"https://meta.stackoverflow.com\",\"\
        styleCodeWithHighlightjs\":true,\"negativeVoteScoreFloor\":null,\"enableSocialMediaInSharePopup\"\
        :true,\"protocol\":\"https\"},\"user\":{\"fkey\":\"51d79da96878129210a40413cf68fb07abb1da657ec9a851bf6296f1f96fdcf1\"\
        ,\"tid\":\"9f39e7b3-6857-d9c2-763d-8afccb0db0cd\",\"rep\":0,\"isAnonymous\"\
        :true,\"isAnonymousNetworkWide\":true},\"events\":{\"postType\":{\"question\"\
        :1},\"postEditionSection\":{\"title\":1,\"body\":2,\"tags\":3}},\"story\"\
        :{\"minCompleteBodyLength\":75,\"likedTagsMaxLength\":300,\"dislikedTagsMaxLength\"\
        :300},\"jobPreferences\":{\"maxNumDeveloperRoles\":2,\"maxNumIndustries\"\
        :4},\"svgIconPath\":\"https://cdn.sstatic.net/Img/stacks-icons\",\"svgIconHash\"\
        :\"7eb510ec72e5\"}, {\"userProfile\":{\"openGraphAPIKey\":\"4a307e43-b625-49bb-af15-ffadf2bda017\"\
        },\"userMessaging\":{\"showNewFeatureNotice\":true},\"tags\":{},\"subscriptions\"\
        :{\"defaultBasicMaxTrueUpSeats\":250,\"defaultFreemiumMaxTrueUpSeats\":50,\"\
        defaultMaxTrueUpSeats\":1000},\"snippets\":{\"renderDomain\":\"stacksnippets.net\"\
        ,\"snippetsEnabled\":true},\"slack\":{\"sidebarAdDismissCookie\":\"slack-sidebar-ad\"\
        ,\"sidebarAdDismissCookieExpirationDays\":60.0},\"site\":{\"allowImageUploads\"\
        :true,\"enableImgurHttps\":true,\"enableUserHovercards\":true,\"forceHttpsImages\"\
        :true,\"styleCode\":true},\"questions\":{\"enableQuestionTitleLengthLiveWarning\"\
        :true,\"maxTitleSize\":150,\"questionTitleLengthStartLiveWarningChars\":50},\"\
        intercom\":{\"appId\":\"inf0secd\",\"hostBaseUrl\":\"https://stacksnippets.net\"\
        },\"paths\":{},\"monitoring\":{\"clientTimingsAbsoluteTimeout\":30000,\"clientTimingsDebounceTimeout\"\
        :1000},\"mentions\":{\"maxNumUsersInDropdown\":50},\"markdown\":{\"enableTables\"\
        :true},\"legal\":{\"oneTrustConfigId\":\"c3d9f1e3-55f3-4eba-b268-46cee4c6789c\"\
        },\"flags\":{\"allowRetractingCommentFlags\":true,\"allowRetractingFlags\"\
        :true},\"elections\":{\"opaVoteResultsBaseUrl\":\"https://www.opavote.com/results/\"\
        },\"comments\":{},\"accounts\":{\"currentPasswordRequiredForChangingStackIdPassword\"\
        :true}});\r\n        StackExchange.using.setCacheBreakers({\"js/adops.en.js\"\
        :\"22a9bd59b1e9\",\"js/ask.en.js\":\"91b4450eec6e\",\"js/begin-edit-event.en.js\"\
        :\"b6f47dd7a88c\",\"js/copy-transpiled.en.js\":\"b91817f36d7e\",\"js/cm.en.js\"\
        :\"f6b0f217b5a2\",\"js/events.en.js\":\"cf2ee89fdd30\",\"js/explore-qlist.en.js\"\
        :\"a6f836ff8aa6\",\"js/full-anon.en.js\":\"ce063be8eb11\",\"js/full.en.js\"\
 [...]
