interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://yandex.com/search/?text=Hello&p=1
  response:
    body:
      string: "<!DOCTYPE html><html class=i-ua_js_no lang=en><meta charset=utf-8><meta\
        \ http-equiv=X-UA-Compatible content=\"IE=edge\"><title>Yandex</title><script\
        \ nonce=6341>document.documentElement.className=\"i-ua_js_yes i-ua_svg_yes\"\
        +((screen.deviceXDPI&&screen.logicalXDPI&&screen.deviceXDPI/screen.logicalXDPI||window.devicePixelRatio)>1?\"\
        \ i-ua_retina_yes\":\"\");</script><link rel=search title=Yandex type=\"application/opensearchdescription+xml\"\
        \ href=\"/search/opensearch.xml\"><meta name=referrer content=origin><style\
        \ nonce=6341 data-role=css data-stylesheet=header>body{margin:0}.b-page__body{font-family:Helvetica,Arial,sans-serif}.i-ua_platform_ios.b-page__body{cursor:pointer;-webkit-tap-highlight-color:transparent}.b-page__body{margin:0;font-size:.8em;color:#000;background:#fff}.i-ua_platform_ios.b-page__body{cursor:auto}html{height:100%}.b-pa[...]
