interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://yandex.com/search/?text=Preaching+the+choir&p=1
  response:
    body:
      string: "<!DOCTYPE html><html class=i-ua_js_no lang=en><meta charset=utf-8><meta\
        \ http-equiv=X-UA-Compatible content=\"IE=edge\"><title>Yandex</title><script\
        \ nonce=1619>document.documentElement.className=\"i-ua_js_yes i-ua_svg_yes\"\
        +((screen.deviceXDPI&&screen.logicalXDPI&&screen.deviceXDPI/screen.logicalXDPI||window.devicePixelRatio)>1?\"\
        \ i-ua_retina_yes\":\"\");</script><link rel=search title=Yandex type=\"application/opensearchdescription+xml\"\
        \ href=\"/search/opensearch.xml\"><meta name=referrer content=origin><style\
        \ nonce=1619 data-role=css data-stylesheet=header>body{margin:0}.b-page__body{margin:0;color:#000;background:#fff;height:100%;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:1.154}.i-ua_platform_ios.b-page__body{-webkit-tap-highlight-color:rgba(0,0,0,0);cursor:auto}html{height:100%}.b-page.b-page_js_inited[...]
