interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/results?search_query=Hello
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,\
        \ sans-serif;\" lang=\"en-GB\" typography><head><meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=edge\"/><script nonce=\"dUVqQEF1OCYiuCVVqsGhYA\">var ytcfg={d:function(){return\
        \ window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return\
        \ k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else\
        \ for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',\
        \ '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\\
        x26client.version\\x3d2.20210509.07.00');</script><script nonce=\"dUVqQEF1OCYiuCVVqsGhYA\"\
        >(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\n\
        window.onerror=function(msg,url,line,columnNumber,error){var err;if(error)err=error;else{err=new\
        \ Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"\
        columnNumber\"]=columnNumber}var message=String(err.message);if(!err.message||message\
        \ in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var\
        \ img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete\
        \ window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"\
        columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var stack=err.stack||\"\
        \";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled\
        \ window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\"\
        :stack.substr(0,500)};var thirdPartyScript=!err.fileName||err.fileName===\"\
        <anonymous>\"||stack.indexOf(\"extension://\")>=0;var replaced=stack.replace(/https:\\\
        /\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\n\
        true;else if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else\
        \ if(message.indexOf(\"redefine non-configurable\")>=0&&message.indexOf(\"\
        userAgent\")>=0)thirdPartyScript=true;var baseUrl=window[\"ytcfg\"].get(\"\
        EMERGENCY_BASE_URL\",\"https://[...]
